

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #B3B3B3;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(2.0);
  /* Webkit browsers*/
  -webkit-transform: scale(2.0);
}
.btn {
    width: 180px;
	height: 50px;
}
